
    <div class="container">
      <nav id="menu" class="navbar">
      <div class="navbar-header"><span id="category" class="visible-xs">Categories</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Desktops</a>
      <div class="dropdown-menu" style="">
      <div class="dropdown-inner"> <ul class="list-unstyled">
      <li><a href="#">PC (0)</a></li>
      <li><a href="#">Mac (1)</a></li>
      </ul>
      </div>
      <a href="#" class="see-all">Show All Desktops</a> </div>
      </li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Laptops &amp; Notebooks</a>
      <div class="dropdown-menu" style="">
      <div class="dropdown-inner"> <ul class="list-unstyled">
      <li><a href="#">Macs (0)</a></li>
      <li><a href="#">Windows (0)</a></li>
      </ul>
      </div>
      <a href="#" class="see-all">Show All Laptops &amp; Notebooks</a> </div>
      </li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Components</a>
      <div class="dropdown-menu" style="">
      <div class="dropdown-inner"> <ul class="list-unstyled">
      <li><a href="#">Mice and Trackballs (0)</a></li>
      <li><a href="#">Monitors (2)</a></li>
      <li><a href="#">Printers (0)</a></li>
      <li><a href="#">Scanners (0)</a></li>
      <li><a href="#">Web Cameras (0)</a></li>
      </ul>
      </div>
      <a href="#" class="see-all">Show All Components</a> </div>
      </li>
      <li><a href="#">Tablets</a></li>
      <li><a href="#">Software</a></li>
      <li><a href="#">Phones &amp; PDAs</a></li>
      <li><a href="#">Cameras</a></li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">MP3 Players</a>
      <div class="dropdown-menu" style="margin-left: -208.625px;">
      <div class="dropdown-inner"> <ul class="list-unstyled">
      <li><a href="#">test 11 (0)</a></li>
      <li><a href="#">test 12 (0)</a></li>
      <li><a href="#">test 15 (0)</a></li>
      <li><a href="#">test 16 (0)</a></li>
      <li><a href="#">test 17 (0)</a></li>
      </ul>
      <ul class="list-unstyled">
      <li><a href="#">test 18 (0)</a></li>
      <li><a href="#">test 19 (0)</a></li>
      <li><a href="#">test 20 (0)</a></li>
      <li><a href="#">test 21 (0)</a></li>
      <li><a href="#">test 22 (0)</a></li>
      </ul>
      </div>
      <a href="#" class="see-all">Show All MP3 Players</a> </div>
      </li>
      </ul>
      </div>
      </nav>
      </div>