
  <div id="content">
  <div class="container-fluid"><br>
  <br>
  <div class="row">
  <div class="col-sm-offset-4 col-sm-4">
  <div class="panel panel-default">
  <div class="panel-heading">
  <h1 class="panel-title"><i class="fa fa-lock"></i> Please enter your login details.</h1>
  </div>
  <div class="panel-body">
  <!-- <form action="#" method="post" enctype="multipart/form-data"> -->
  <div class="form-group">
  <label for="input-username">Username</label>
  <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
  <input type="text" [(ngModel)]="username" placeholder="Username" class="form-control">
  </div>
  </div>
  <div class="form-group">
  <label for="input-password">Password</label>
  <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
  <input type="password" name="password" value="demo" placeholder="Password" id="input-password" class="form-control">
  </div>
  <span class="help-block"><a href="#">Forgotten Password</a></span>
  </div>
  <div class="text-right">
  <button type="submit" class="btn btn-primary" (click)="Login()"><i class="fa fa-key"></i> Login</button>
  </div>
  <!-- </form> -->
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>