<nav id="column-left">
  <div id="navigation"><span class="fa fa-bars"></span> Navigation</div>
  <ul id="menu">
  <li id="menu-dashboard"><a href="#"><i class="fa fa-dashboard fw"></i> Dashboard</a> </li>
  <li id="menu-catalog"><a href="#collapse1" data-toggle="collapse" class="parent collapsed" aria-expanded="false"><i class="fa fa-tags fw"></i> Catalog</a> <ul id="collapse1" class="collapse" aria-expanded="false" style="height: 0px;">
  <li><a href="#">Categories</a> </li>
  <li><a href="#">Products</a> </li>
  <li><a href="#">Recurring Profiles</a> </li>
  <li><a href="#">Filters</a> </li>
  <li><a href="#collapse5" data-toggle="collapse" class="parent collapsed">Attributes</a> <ul id="collapse5" class="collapse">
  <li><a href="#">Attributes</a> </li>
  <li><a href="#">Attribute Groups</a> </li>
  </ul>
  </li>
  <li><a href="#">Options</a> </li>
  <li><a href="#">Manufacturers</a> </li>
  <li><a href="#">Downloads</a> </li>
  <li><a href="#">Reviews</a> </li>
  <li><a href="#">Information</a> </li>
  </ul>
  </li>
  <li id="menu-extension"><a href="#collapse14" data-toggle="collapse" class="parent collapsed" aria-expanded="false"><i class="fa fa-puzzle-piece fw"></i> Extensions</a> <ul id="collapse14" class="collapse" aria-expanded="false" style="height: 0px;">
  <li><a href="#">Marketplace</a> </li>
  <li><a href="#">Installer</a> </li>
  <li><a href="#">Extensions</a> </li>
  <li><a href="#">Modifications</a> </li>
  <li><a href="#">Events</a> </li>
  </ul>
  </li>
  <li id="menu-design"><a href="#collapse20" data-toggle="collapse" class="parent collapsed" aria-expanded="false"><i class="fa fa-television fw"></i> Design</a> <ul id="collapse20" class="collapse" aria-expanded="false" style="height: 0px;">
  <li><a href="#">Layouts</a> </li>
  <li><a href="#">Theme Editor</a> </li>
  <li><a href="#">Language Editor</a> </li>
  <li><a href="#">Banners</a> </li>
  <li><a href="#">SEO URL</a> </li>
  </ul>
  </li>
  <li id="menu-sale"><a href="#collapse26" data-toggle="collapse" class="parent collapsed" aria-expanded="false"><i class="fa fa-shopping-cart fw"></i> Sales</a> <ul id="collapse26" class="collapse" aria-expanded="false" style="height: 0px;">
  <li><a href="#">Orders</a> </li>
  <li><a href="#">Recurring Profiles</a> </li>
  <li><a href="#">Returns</a> </li>
  <li><a href="#collapse29" data-toggle="collapse" class="parent collapsed">Gift Vouchers</a> <ul id="collapse29" class="collapse">
  <li><a href="#">Gift Vouchers</a> </li>
  <li><a href="#">Voucher Themes</a> </li>
  </ul>
  </li>
  </ul>
  </li>
  <li id="menu-customer"><a href="#collapse33" data-toggle="collapse" class="parent collapsed"><i class="fa fa-user fw"></i> Customers</a> <ul id="collapse33" class="collapse">
  <li><a href="#">Customers</a> </li>
  <li><a href="#">Customer Groups</a> </li>
  <li><a href="#">Customer Approvals</a> </li>
  <li><a href="#">Custom Fields</a> </li>
  </ul>
  </li>
  <li id="menu-marketing"><a href="#collapse38" data-toggle="collapse" class="parent collapsed"><i class="fa fa-share-alt fw"></i> Marketing</a> <ul id="collapse38" class="collapse">
  <li><a href="#">Marketing</a> </li>
  <li><a href="#">Coupons</a> </li>
  <li><a href="#">Mail</a> </li>
  </ul>
  </li>
  <li id="menu-system"><a href="#collapse42" data-toggle="collapse" class="parent collapsed"><i class="fa fa-cog fw"></i> System</a> <ul id="collapse42" class="collapse">
  <li><a href="#">Settings</a> </li>
  <li><a href="#collapse43" data-toggle="collapse" class="parent collapsed">Localisation</a> <ul id="collapse43" class="collapse">
  <li><a href="#">Store Location</a> </li>
  <li><a href="#">Languages</a> </li>
  <li><a href="#">Currencies</a> </li>
  <li><a href="#">Stock Statuses</a> </li>
  <li><a href="#">Order Statuses</a> </li>
  <li><a href="#collapse48" data-toggle="collapse" class="parent collapsed">Returns</a> <ul id="collapse48" class="collapse">
  <li><a href="#">Return Statuses</a></li>
  <li><a href="#">Return Actions</a></li>
  <li><a href="#">Return Reasons</a></li>
  </ul>
  </li>
  <li><a href="#">Countries</a> </li>
  <li><a href="#">Zones</a> </li>
  <li><a href="#">Geo Zones</a> </li>
  <li><a href="#collapse52" data-toggle="collapse" class="parent collapsed">Taxes</a> <ul id="collapse52" class="collapse">
  <li><a href="#">Tax Classes</a></li>
  <li><a href="#">Tax Rates</a></li>
  </ul>
  </li>
  <li><a href="#">Length Classes</a> </li>
  <li><a href="#">Weight Classes</a> </li>
  </ul>
  </li>
  <li><a href="#collapse56" data-toggle="collapse" class="parent collapsed">Maintenance</a> <ul id="collapse56" class="collapse">
  <li><a href="#">Backup / Restore</a> </li>
  
  <li><a href="#">Uploads</a> </li>
  <li><a href="#">Error Logs</a> </li>
  </ul>
  </li>
  </ul>
  </li>
  <li id="menu-report"><a href="#collapse61" data-toggle="collapse" class="parent collapsed"><i class="fa fa-bar-chart-o fw"></i> Reports</a> <ul id="collapse61" class="collapse">
  <li><a href="#">Reports</a> </li>
  <li><a href="#">Who's Online</a> </li>
  <li><a href="#">Statistics</a> </li>
  </ul>
  </li>
  </ul>
  <div id="stats">
  <ul>
  <li>
  <div>Orders Completed <span class="pull-right">0%</span></div>
  <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
  </div>
  </li>
  <li>
  <div>Orders Processing <span class="pull-right">0%</span></div>
  <div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
  </div>
  </li>
  <li>
  <div>Other Statuses <span class="pull-right">0%</span></div>
  <div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> <span class="sr-only">0%</span></div>
  </div>
  </li>
  </ul>
  </div>
  </nav>